#Dataset Description

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

\
# Upload Dataset : https://www.kaggle.com/datasets/avikasliwal/used-cars-price-prediction/data

## The dataset contains information about Used Cars Price with the following columns:

`index`: Index

`Name`: The brand and model of the car.

`Location`: The location in which the car is being sold or is available for purchase.

`Year`: The year or edition of the model.

`Kilometers_Driven`: The total kilometres driven in the car by the previous owner(s) in KM.

`Fuel_Type`: The type of fuel used by the car. (Petrol / Diesel / Electric / CNG / LPG)

`Transmission`: The type of transmission used by the car. (Automatic / Manual)

`Owner_Type`: Whether the ownership is Firsthand, Second hand or other.

`Mileage`: The standard mileage offered by the car company in kmpl or km/kg

`Engine`: The displacement volume of the engine in cc.

#Tasks

## 1 . Data Cleaning

### Read the dataset

In [2]:
import pandas as pd
import numpy as np

In [72]:
df = pd.read_csv('/content/drive/Othercomputers/My Mac/Data Science/Data set/Used_Cars.csv')

### Handling Missing Values

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6019 entries, 0 to 6018
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         6019 non-null   int64
 1   Name               6019 non-null   object
 2   Location           6019 non-null   object
 3   Year               6019 non-null   int64
 4   Kilometers_Driven  6019 non-null   int64
 5   Fuel_Type          6019 non-null   object
 6   Transmission       6019 non-null   object
 7   Owner_Type         6019 non-null   object
 8   Mileage            6017 non-null   object
 9   Engine             5983 non-null   object
 10  Power              5983 non-null   object
 11  Seats              5977 non-null   float64
 12  New_Price          824 non-null    object
 13  Price              6019 non-null   float64
dtypes: float64(2), int64(3), object(9)
memory usage: 658.5+ KB

In [17]:
df.isna().sum()

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  42
New_Price            5195
Price                   0
dtype: int64

In [18]:
df.columns

Index(['Unnamed: 0', 'Name', 'Location', 'Year', 'Kilometers_Driven',
       'Fuel_Type', 'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power',
       'Seats', 'New_Price', 'Price'],
      dtype='object')

In [73]:
df.drop(['New_Price'], axis=1)

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,26.6 km/kg,998 CC,58.16 bhp,5.0,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,12.50
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.2 kmpl,1199 CC,88.7 bhp,5.0,4.50
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,6.00
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,17.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,4.75
6015,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,4.00
6016,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,2.90
6017,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,2.65
6018,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,2.50

In [74]:
df = df.drop('New_Price', axis=1)

In [75]:
df.columns

Index(['Unnamed: 0', 'Name', 'Location', 'Year', 'Kilometers_Driven',
       'Fuel_Type', 'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power',
       'Seats', 'Price'],
      dtype='object')

In [76]:
df.isna().sum()

Unnamed: 0            0
Name                  0
Location              0
Year                  0
Kilometers_Driven     0
Fuel_Type             0
Transmission          0
Owner_Type            0
Mileage               2
Engine               36
Power                36
Seats                42
Price                 0
dtype: int64

In [77]:
df.dropna(subset=['Seats'], inplace=True)

In [78]:
df.isna().sum()

Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              2
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5977 entries, 0 to 6018
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         5977 non-null   int64
 1   Name               5977 non-null   object
 2   Location           5977 non-null   object
 3   Year               5977 non-null   int64
 4   Kilometers_Driven  5977 non-null   int64
 5   Fuel_Type          5977 non-null   object
 6   Transmission       5977 non-null   object
 7   Owner_Type         5977 non-null   object
 8   Mileage            5975 non-null   object
 9   Engine             5977 non-null   object
 10  Power              5977 non-null   object
 11  Seats              5977 non-null   float64
 12  Price              5977 non-null   float64
dtypes: float64(2), int64(3), object(8)
memory usage: 653.7+ KB

In [79]:
df['Mileage'] = df['Mileage'].fillna(df['Mileage'].mode()[0])

In [80]:
df.isna().sum()

Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5977 entries, 0 to 6018
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         5977 non-null   int64
 1   Name               5977 non-null   object
 2   Location           5977 non-null   object
 3   Year               5977 non-null   int64
 4   Kilometers_Driven  5977 non-null   int64
 5   Fuel_Type          5977 non-null   object
 6   Transmission       5977 non-null   object
 7   Owner_Type         5977 non-null   object
 8   Mileage            5977 non-null   object
 9   Engine             5977 non-null   object
 10  Power              5977 non-null   object
 11  Seats              5977 non-null   float64
 12  Price              5977 non-null   float64
dtypes: float64(2), int64(3), object(8)
memory usage: 653.7+ KB

### Correct any inconsistent data entries.

In [82]:
df['Mileage'] = df['Mileage'].apply(lambda x: float(x[:-6]) * 1.40 if x.endswith('km/kg') else float(x[:-6]))

df.rename(columns={'Mileage' : 'Mileage_kmpl'})

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage_kmpl,Engine,Power,Seats,Price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,37.24,998 CC,58.16 bhp,5.0,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.60,1582 CC,126.2 bhp,5.0,12.50
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.00,1199 CC,88.7 bhp,5.0,4.50
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.70,1248 CC,88.76 bhp,7.0,6.00
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.00,1968 CC,140.8 bhp,5.0,17.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6014,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.00,1248 CC,74 bhp,5.0,4.75
6015,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.00,1120 CC,71 bhp,5.0,4.00
6016,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.00,2498 CC,112 bhp,8.0,2.90
6017,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.00,998 CC,67.1 bhp,5.0,2.65
6018,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.40,936 CC,57.6 bhp,5.0,2.50

In [83]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5977 entries, 0 to 6018
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         5977 non-null   int64
 1   Name               5977 non-null   object
 2   Location           5977 non-null   object
 3   Year               5977 non-null   int64
 4   Kilometers_Driven  5977 non-null   int64
 5   Fuel_Type          5977 non-null   object
 6   Transmission       5977 non-null   object
 7   Owner_Type         5977 non-null   object
 8   Mileage            5977 non-null   float64
 9   Engine             5977 non-null   object
 10  Power              5977 non-null   object
 11  Seats              5977 non-null   float64
 12  Price              5977 non-null   float64
dtypes: float64(3), int64(3), object(7)
memory usage: 653.7+ KB

### Ensure data types are appropriate for each column.

---

In [84]:
df['Engine'] = df['Engine'].str.replace('CC', '').astype(int)

In [85]:
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
0,0,Maruti Wagon R LXI CNG,Mumbai,2010,72000,CNG,Manual,First,37.24,998,58.16 bhp,5.0,1.75
1,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.60,1582,126.2 bhp,5.0,12.50
2,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,18.00,1199,88.7 bhp,5.0,4.50
3,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.70,1248,88.76 bhp,7.0,6.00
4,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.00,1968,140.8 bhp,5.0,17.74

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5977 entries, 0 to 6018
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         5977 non-null   int64
 1   Name               5977 non-null   object
 2   Location           5977 non-null   object
 3   Year               5977 non-null   int64
 4   Kilometers_Driven  5977 non-null   int64
 5   Fuel_Type          5977 non-null   object
 6   Transmission       5977 non-null   object
 7   Owner_Type         5977 non-null   object
 8   Mileage            5977 non-null   float64
 9   Engine             5977 non-null   int64
 10  Power              5977 non-null   object
 11  Seats              5977 non-null   float64
 12  Price              5977 non-null   float64
dtypes: float64(3), int64(4), object(6)
memory usage: 653.7+ KB

In [88]:
df.isna().sum()

Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

In [89]:
test_value = df['Power']

def remove_suffix_and_convert(value):

    if isinstance(value, str):
        value = value.strip()
        if 'bhp' in value:
            value = value.replace(' bhp', '')
        try:
            return float(value)
        except ValueError:
            return None
    return None

df['Power'] = test_value.apply(remove_suffix_and_convert)

In [90]:
test_value.head()

0     58.16
1    126.20
2     88.70
3     88.76
4    140.80
Name: Power, dtype: float64

In [91]:
test_value.isna().sum()

103

In [92]:
df.isna().sum()

Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

In [97]:
import re
import numpy as np

def extract_float_from_string(value):
    """
    Extract and keep only the float numbers from mixed strings.
    """
    if isinstance(value, str):
        # Find all matches for float numbers in the string
        match = re.search(r"[-+]?\d*\.\d+|\d+", value)
        if match:
            return float(match.group(0))
    # Return NaN if no float number is found or value is not a string
    return np.nan

# Apply the function to the column
df['Power'] = df['Power'].apply(extract_float_from_string)

In [95]:
test_power

0        58.16
1       126.20
2        88.70
3        88.76
4       140.80
         ...
6014     74.00
6015     71.00
6016    112.00
6017     67.10
6018     57.60
Name: Power, Length: 5977, dtype: float64

In [96]:
test_power.isna().sum()

103

In [98]:
df = df.dropna(subset=['Power'])

In [107]:
df.columns

Index(['Unnamed: 0', 'Name', 'Location', 'Year', 'Kilometers_Driven',
       'Fuel_Type', 'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power',
       'Seats', 'Price'],
      dtype='object')

In [108]:
df= df.drop('Unnamed: 0', axis=1)

In [109]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5874 entries, 0 to 6018
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               5874 non-null   object
 1   Location           5874 non-null   object
 2   Year               5874 non-null   int64
 3   Kilometers_Driven  5874 non-null   int64
 4   Fuel_Type          5874 non-null   object
 5   Transmission       5874 non-null   object
 6   Owner_Type         5874 non-null   object
 7   Mileage            5874 non-null   float64
 8   Engine             5874 non-null   int64
 9   Power              5874 non-null   float64
 10  Seats              5874 non-null   float64
 11  Price              5874 non-null   float64
dtypes: float64(4), int64(3), object(5)
memory usage: 596.6+ KB

In [100]:
df.isna().sum()

Unnamed: 0           0
Name                 0
Location             0
Year                 0
Kilometers_Driven    0
Fuel_Type            0
Transmission         0
Owner_Type           0
Mileage              0
Engine               0
Power                0
Seats                0
Price                0
dtype: int64

## 2. Exploratory Data Analysis (EDA)

In [101]:
df.describe()

,Unnamed: 0,Year,Kilometers_Driven,Mileage,Engine,Power,Seats,Price
count,5874.000000,5874.000000,5.874000e+03,5874.000000,5874.000000,5874.000000,5874.000000,5874.000000
mean,3013.853933,2013.477698,5.831315e+04,18.134110,1625.510385,113.257732,5.283623,9.605032
std,1737.331037,3.164366,9.215397e+04,4.694785,601.885055,53.883531,0.804961,11.247700
min,0.000000,1998.000000,1.710000e+02,0.000000,72.000000,34.200000,2.000000,0.440000
25%,1510.250000,2012.000000,3.343125e+04,15.000000,1198.000000,75.000000,5.000000,3.520000
50%,3016.500000,2014.000000,5.258800e+04,18.000000,1495.500000,97.700000,5.000000,5.750000
75%,4516.750000,2016.000000,7.239725e+04,21.000000,1991.000000,138.100000,5.000000,10.037500
max,6018.000000,2019.000000,6.500000e+06,46.956000,5998.000000,560.000000,10.000000,160.000000

In [102]:
df.duplicated().sum()

0

In [104]:
df[['Year','Price']]

      Year  Price
0     2010   1.75
1     2015  12.50
2     2011   4.50
3     2012   6.00
4     2013  17.74
...    ...    ...
6014  2014   4.75
6015  2015   4.00
6016  2012   2.90
6017  2013   2.65
6018  2011   2.50

[5874 rows x 2 columns]

In [111]:
df.iloc[10]

Name                 Maruti Ciaz Zeta
Location                        Kochi
Year                             2018
Kilometers_Driven               25692
Fuel_Type                      Petrol
Transmission                   Manual
Owner_Type                      First
Mileage                          21.5
Engine                           1462
Power                          103.25
Seats                             5.0
Price                            9.95
Name: 10, dtype: object

In [110]:
df.iloc[10:15]

,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,Price
10,Maruti Ciaz Zeta,Kochi,2018,25692,Petrol,Manual,First,21.5,1462,103.25,5.0,9.95
11,Honda City 1.5 V AT Sunroof,Kolkata,2012,60000,Petrol,Automatic,First,16.0,1497,116.30,5.0,4.49
12,Maruti Swift VDI BSIV,Jaipur,2015,64424,Diesel,Manual,First,25.0,1248,74.00,5.0,5.60
13,Land Rover Range Rover 2.2L Pure,Delhi,2014,72000,Diesel,Automatic,First,12.0,2179,187.70,5.0,27.00
14,Land Rover Freelander 2 TD4 SE,Pune,2012,85000,Diesel,Automatic,Second,0.0,2179,115.00,5.0,17.50

In [112]:
df.loc[7:9,['Name', 'Year','Price']]

                                  Name  Year  Price
7    Toyota Innova Crysta 2.8 GX AT 8S  2016  17.50
8  Volkswagen Vento Diesel Comfortline  2013   5.20
9       Tata Indica Vista Quadrajet LS  2012   1.95

In [113]:
df = df.set_index(['Year', 'Location'])
df.loc[(2014, 'Delhi')]

<ipython-input-113-74e0ef7de3f8>:2: PerformanceWarning: indexing past lexsort depth may impact performance.
  df.loc[(2014, 'Delhi')]

                                                        Name  \
Year Location
2014 Delhi                  Land Rover Range Rover 2.2L Pure
     Delhi                       Mitsubishi Pajero Sport 4X4
     Delhi                                  Maruti Swift LDI
     Delhi                    Audi A6 2.0 TDI Design Edition
     Delhi                        Toyota Fortuner 4x2 Manual
...                                                      ...
     Delhi                     Hyundai Grand i10 CRDi Sportz
     Delhi                  Hyundai Xcent 1.2 Kappa S Option
     Delhi               Skoda Superb Elegance 2.0 TDI CR AT
     Delhi     Mercedes-Benz E-Class 200 Kompressor Elegance
     Delhi                                  Maruti Swift VDI

               Kilometers_Driven Fuel_Type Transmission Owner_Type  Mileage  \
Year Location
2014 Delhi                 72000    Diesel    Automatic      First     12.0
     Delhi                110000    Diesel       Manual      First     13.0
     Delhi                 52000    Diesel       Manual      First     22.0
     Delhi                 56000    Diesel    Automatic     Second     18.5
     Delhi                107000    Diesel       Manual      First     13.0
...                          ...       ...          ...        ...      ...
     Delhi                 65000    Diesel       Manual      First     24.0
     Delhi                 52000    Petrol       Manual      First     19.0
     Delhi                 51000    Diesel    Automatic      First     17.0
     Delhi                 40000    Petrol    Automatic      First     10.0
     Delhi                 27365    Diesel       Manual      First     28.0

               Engine   Power  Seats  Price
Year Location
2014 Delhi       2179  187.70    5.0  27.00
     Delhi       2477  175.56    7.0  15.00
     Delhi       1248   74.00    5.0   4.25
     Delhi       1968  187.74    5.0  29.50
     Delhi       2982  168.50    7.0  16.50
...               ...     ...    ...    ...
     Delhi       1120   70.00    5.0   3.99
     Delhi       1197   81.86    5.0   3.75
     Delhi       1968  138.03    5.0  13.00
     Delhi       1796  157.70    5.0  24.00
     Delhi       1248   74.00    5.0   4.75

[99 rows x 10 columns]

### Perform summary statistics on the dataset.

### Identify and analyze patterns in the data.

### Visualize the distribution of key variables.

### Explore relationships between variables.

## 3. Data Visualization

* Ensure the visualizations are clear and informative.

### Create visualizations to illustrate the findings from the EDA.

### Use appropriate plots such as histograms, bar charts, pie charts, scatter plots, and heatmaps.

## 4. Insights and Conclusions

* <h3>Summarize the key insights gained from the data analysis.<h3/>
* <h3>Draw conclusions based on the patterns observed in the data.<h3/>